.gallery-card31-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card31-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card31-container {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card31-container:hover {
  opacity: 1;
}
.gallery-card31-root-class-name {
  width: auto;
  height: 40vh;
}
.gallery-card31-root-class-name1 {
  width: 100%;
}
.gallery-card31-root-class-name2 {
  height: 40vh;
}




.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0.5px;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-text {
  font-size: 34px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
}
.home-desktop-menu {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-link {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  text-transform: uppercase;
  text-decoration: none;
}
.home-link01 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.home-link02 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.home-link03 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-text01 {
  font-size: 34px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-text02 {
  font-size: 18px;
  font-family: Cormorant Garamond;
  padding-top: 4px;
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text03 {
  font-size: 18px;
  font-family: Cormorant Garamond;
  padding-top: 4px;
}
.home-about {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.home-container3 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  background-color: rgba(153, 153, 153, 0.2);
}
.home-text04 {
  text-align: justify;
  font-family: Raleway;
}
.home-image {
  width: 40%;
  min-width: 460px;
  align-self: stretch;
  object-fit: cover;
}
.home-teaching {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #020000;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.home-image1 {
  width: 40%;
  min-width: 450px;
  align-self: flex-end;
  min-height: 400px;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.home-container5 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(153, 153, 153, 0.3);
}
.home-text12 {
  color: var(--dl-color-gray-900);
  font-size: 32px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
}
.home-text13 {
  color: var(--dl-color-gray-900);
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  font-family: Raleway;
}
.home-link08 {
  text-decoration: underline;
}
.home-link09 {
  text-decoration: underline;
}
.home-link10 {
  text-decoration: underline;
}
.home-link11 {
  text-decoration: underline;
}
.home-contact {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
}
.home-container6 {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.home-container7 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: rgba(153, 153, 153, 0.2);
}
.home-heading {
  font-size: 32px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
  text-transform: uppercase;
}
.home-form {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-textinput {
  font-family: Raleway;
}
.home-textinput1 {
  font-family: Raleway;
}
.home-textinput2 {
  font-family: Raleway;
}
.home-textarea {
  width: 100%;
  height: var(--dl-size-size-large);
  margin-top: var(--dl-space-space-unit);
  font-family: Raleway;
}
.home-button {
  width: 50%;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-family: Raleway;
}
.home-image2 {
  width: 300px;
  align-self: stretch;
  object-fit: cover;
}
.home-gallery {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.home-container8 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .home-container5 {
    flex-direction: column;
  }
  .home-container8 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-top {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-bottom: 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0.5px;
  }
  .home-links1 {
    padding-top: var(--dl-space-space-twounits);
  }
  .home-link04 {
    font-size: 12px;
    font-family: Avenir LT Std 45 Book;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
  }
  .home-link05 {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .home-link06 {
    font-size: 12px;
    font-family: Avenir LT Std 45 Book;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-link07 {
    font-size: 12px;
    font-family: Avenir LT Std 45 Book;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-image {
    margin-left: 0px;
  }
  .home-teaching {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image1 {
    order: 1;
  }
  .home-container5 {
    order: 2;
  }
  .home-container8 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .home-container2 {
    flex-wrap: wrap;
  }
  .home-container3 {
    order: 2;
    background-color: transparent;
  }
  .home-text04 {
    order: 2;
  }
  .home-image {
    order: 1;
  }
  .home-container4 {
    flex-wrap: wrap;
  }
  .home-image1 {
    order: 1;
  }
  .home-container5 {
    order: 2;
    background-color: transparent;
  }
  .home-text12 {
    color: var(--dl-color-gray-700);
  }
  .home-text13 {
    color: var(--dl-color-gray-700);
    order: 2;
    font-family: Raleway;
  }
  .home-container6 {
    flex-wrap: wrap;
  }
  .home-container7 {
    order: 2;
  }
  .home-container8 {
    grid-template-columns: 1fr;
  }
}
