.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0.5px;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-text {
  font-size: 34px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
}
.home-desktop-menu {
  flex: 1;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-link {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  text-transform: uppercase;
  text-decoration: none;
}
.home-link01 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.home-link02 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.home-link03 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0.5px;
}
.home-text01 {
  font-size: 34px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-text02 {
  font-size: 18px;
  font-family: Cormorant Garamond;
  padding-top: 4px;
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text03 {
  font-size: 18px;
  font-family: Cormorant Garamond;
  padding-top: 4px;
}
.home-home {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: 50%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgba(153, 153, 153, 0.2);
}
.home-text04 {
  text-align: justify;
  font-family: Raleway;
}
.home-container05 {
  flex: 0 0 auto;
  width: 50%;
  height: 600px;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: auto;
  min-width: 366px;
  max-height: 600px;
  object-fit: cover;
}
.home-teaching {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #020000;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.home-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: 600px;
  display: flex;
  position: relative;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.home-image1 {
  top: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  margin: auto;
  position: absolute;
  min-width: 366px;
  align-self: center;
  max-height: 600px;
  object-fit: cover;
}
.home-container08 {
  flex: 0 0 auto;
  width: 40%;
  height: 600px;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: rgba(153, 153, 153, 0.3);
}
.home-text12 {
  color: var(--dl-color-gray-900);
  font-size: 32px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
}
.home-text13 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  font-family: Raleway;
}
.home-link08 {
  text-decoration: underline;
}
.home-link09 {
  text-decoration: underline;
}
.home-link10 {
  text-decoration: underline;
}
.home-link11 {
  text-decoration: underline;
}
.home-contact {
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.home-container10 {
  flex: 0 0 auto;
  width: 50%;
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(153, 153, 153, 0.2);
}
.home-heading {
  font-size: 32px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
  text-transform: uppercase;
}
.home-form {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-textinput {
  font-family: Raleway;
}
.home-textinput1 {
  font-family: Raleway;
}
.home-textinput2 {
  font-family: Raleway;
}
.home-textarea {
  width: 100%;
  height: var(--dl-size-size-large);
  margin-top: var(--dl-space-space-unit);
  font-family: Raleway;
}
.home-button {
  width: 50%;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  font-family: Raleway;
}
.home-container12 {
  flex: 0 0 auto;
  width: 50%;
  height: 600px;
  display: flex;
  min-width: 300px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.home-image2 {
  width: auto;
  min-width: 366px;
  max-height: 600px;
  object-fit: cover;
}
.home-gallery {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  justify-content: center;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  justify-content: center;
}
.home-heading1 {
  font-size: 32px;
  font-style: normal;
  font-family: Cormorant Garamond;
  font-weight: 300;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.home-container15 {
  flex: 0 0 auto;
  width: 400px;
  margin: var(--dl-space-space-unit);
  display: flex;
  max-height: 400px;
  align-items: center;
  justify-content: center;
}
.home-image3 {
  margin: 0px;
  object-fit: cover;
}
.home-container16 {
  flex: 0 0 auto;
  width: 400px;
  margin: var(--dl-space-space-unit);
  display: flex;
  max-height: 400px;
  align-items: center;
  justify-content: center;
}
.home-image4 {
  width: 400px;
  margin: var(--dl-space-space-unit);
  max-height: 400px;
  object-fit: cover;
}
.home-container17 {
  flex: 0 0 auto;
  width: 400px;
  margin: var(--dl-space-space-unit);
  display: flex;
  max-height: 400px;
  align-items: center;
  justify-content: center;
}
.home-image5 {
  margin: 0px;
  object-fit: cover;
}
.home-container18 {
  flex: 0 0 auto;
  width: 400px;
  margin: var(--dl-space-space-unit);
  display: flex;
  min-width: 	px;
  max-height: 400px;
  align-items: center;
  justify-content: center;
}
.home-image6 {
  width: 400px;
  margin: 0px;
  max-height: 400px;
  object-fit: cover;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container19 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-link12 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: 0px;
  text-transform: uppercase;
  text-decoration: none;
}
.home-link13 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-link14 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-link15 {
  font-size: 12px;
  font-family: Avenir LT Std 45 Book;
  margin-left: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text25 {
  font-size: 12px;
}
@media(max-width: 991px) {
  .home-image {
    flex: 1;
    max-width: 90%;
  }
  .home-container08 {
    flex-direction: column;
  }
  .home-image2 {
    flex: 1;
    max-width: 90%;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-top {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    margin-bottom: 4px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0.5px;
  }
  .home-links1 {
    padding-top: var(--dl-space-space-twounits);
  }
  .home-link04 {
    font-size: 12px;
    font-family: Avenir LT Std 45 Book;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
  }
  .home-link05 {
    font-size: 12px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .home-link06 {
    font-size: 12px;
    font-family: Avenir LT Std 45 Book;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-link07 {
    font-size: 12px;
    font-family: Avenir LT Std 45 Book;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    text-decoration: none;
  }
  .home-teaching {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-image1 {
    order: 1;
  }
  .home-container15 {
    height: auto;
    max-height: 400px;
  }
  .home-container16 {
    height: auto;
    max-height: 400px;
  }
  .home-container17 {
    height: auto;
    max-height: 400px;
  }
  .home-container18 {
    height: auto;
    max-height: 400px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container20 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text25 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-text {
    font-size: 30px;
  }
  .home-mobile-menu {
    padding: 16px;
    transform: translateX(-100%);
    transition: 0.5s;
  }
  .home-home {
    height: auto;
  }
  .home-container02 {
    flex-wrap: wrap;
  }
  .home-container03 {
    order: 2;
    height: auto;
  }
  .home-container04 {
    align-self: flex-start;
    background-color: transparent;
  }
  .home-container05 {
    order: 1;
    height: auto;
    min-height: 100px;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
  }
  .home-image {
    position: static;
  }
  .home-container06 {
    flex-wrap: wrap;
  }
  .home-container07 {
    height: 400px;
    align-self: stretch;
  }
  .home-image1 {
    right: -80px;
  }
  .home-container08 {
    background-color: transparent;
  }
  .home-text12 {
    color: var(--dl-color-gray-700);
  }
  .home-text13 {
    color: var(--dl-color-gray-700);
    font-family: Raleway;
  }
  .home-contact {
    height: auto;
  }
  .home-container09 {
    flex-wrap: wrap;
  }
  .home-container10 {
    order: 2;
    height: auto;
  }
  .home-container11 {
    align-self: flex-start;
    flex-direction: column;
    background-color: transparent;
  }
  .home-container12 {
    order: 1;
    height: auto;
    min-height: 100px;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
  }
  .home-image2 {
    position: static;
  }
  .home-gallery {
    height: auto;
  }
  .home-container13 {
    flex-wrap: wrap;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container20 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text25 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
